#left svg {
  height: 100%;
  max-height: 14rem;
}

#left details {
  position: relative;
  height: 100%;
}

#left details summary {
  height: 100%;
  align-items: end;
}

#left details div {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

#left details[open] div {
  animation: fade-in var(--animation);
}

#left details.closing div {
  animation: fade-out var(--animation);
}
