body {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

main figure {
  width: 4rem;
  height: 4rem;
}

main > hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 5.869rem;
  text-align: center;
}

main label {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35rem;
  border-radius: 0.5rem;
  background-color: var(--color-6);
}

main label:focus-within {
  outline: var(--color-6) 2px solid;
  outline-offset: 0.5rem;
}

:root[data-theme="light"] main label {
  --color-4: var(--color-5);
  --color-2: var(--color-3);
}

main label form {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
}

main label form input {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: var(--color-4);
  font-family: "Roboto", sans-serif;
}

:is(form:focus-within ~ #results, #results:is(:hover, :focus-within)) {
  max-height: 38.329vh;
}

#results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow-y: scroll;
}

#results::before {
  content: "";
  padding: 1px;
  background-color: var(--color-5);
  margin: 0.125rem 0;
}

#results > :last-child {
  margin-bottom: 1rem;
}
