#left ul {
  gap: 1.5rem;
}

#left li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#left footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#left footer > * {
  padding: 1.5rem;
}

#left footer > :last-child {
  padding-left: 0.5rem;
}

#left footer > :last-child {
  height: 100%;
  max-height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  overflow-y: scroll;
}

#left footer hgroup {
  gap: 1rem;
}

#left footer h1 {
  white-space: nowrap;
  font-size: 32px;
  font-weight: 700;
  color: var(--color);
}

#left footer h2 {
  line-height: 160%;
  font-size: 16px;
  font-weight: 400;
  color: var(--color);
}

#left footer > :last-child button {
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--background-color);
  line-height: 160%;
  font-size: 16px;
  font-weight: 600;
  color: var(--zinc-50);
  cursor: pointer;
}

#left footer > :last-child button.start-focus {
  --background-color: rgb(var(--lime-500));
}

#left footer > :last-child button.start-short-break {
  --background-color: rgb(var(--amber-500));
}

#left footer > :last-child button.start-long-break {
  --background-color: rgb(var(--cyan-500));
}

#left footer > :last-child button:active {
  animation: push-button var(--animation);
}
