.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.result :first-child {
  display: flex;
  gap: 1rem;
}

.result img {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
}

.result.message {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-4);
}

.result a {
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--color-4);
  border-radius: 0.25rem;
  background-color: var(--color-5);
  color: var(--color-3);
  font-weight: 500;
  text-decoration: none;
}

:root[data-theme="light"] .result a {
  --color-4: var(--color-5);
  --color-3: var(--color-7);
  --color-1: var(--color-7);
}

.result a:hover {
  border-color: var(--color-8);
  background-color: var(--color-8);
  color: var(--color-1);
}

.result a:focus {
  outline: var(--color-5) 2px solid;
  outline-offset: 0.25rem;
}
