:root {
  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;
  --lime-500: 132, 204, 22;
  --lime-600: 101, 163, 13;
  --amber-500: 245, 158, 11;
  --cyan-500: 6, 182, 212;
  --rose-500: #f43f5e;
  --animation: 0.25s ease-in-out;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-kerning: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: background-color var(--animation), color var(--animation), border-color var(--animation);
}

::selection {
  background-color: var(--background-color);
  color: var(--color);
}

::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--zinc-400);
}

:focus-visible {
  outline: 2px solid var(--outline-color);
  outline-offset: 2px;
}

:is(a, input, button) {
  width: auto;
  height: auto;
  border: none;
  overflow: visible;
  background: transparent;
  text-decoration: none;
  line-height: normal;
  font: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3.375rem 10rem;
  background-color: var(--background-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

hgroup {
  display: grid;
  gap: 0.25rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--color);
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 106%;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}
