#right button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5rem;
  background-color: rgb(var(--lime-500));
  color: var(--zinc-50);
  cursor: pointer;
}

#right button[type="button"] {
  background-color: var(--rose-500);
}

#right button:active {
  animation: push-button var(--animation);
}
